ul {
  padding-left: 1.125rem;
  text-indent: -1.125rem;
}

.font-buf-reg {
  font-family: 'buffonregular';
}

.font-buf-bold {
  font-family: 'buffonbold';
}

.font-buf-heavy {
  font-family: 'buffonheavy';
}

.font-buf-thin {
  font-family: 'buffonthin';
}

.font-magic {
  font-family: 'supermagic';
}

.font-mont {
  font-family: "Montserrat", sans-serif;
}

.font-munson {
  font-family: 'munson';
}

.font-munson-bold {
  font-family: 'munsonbold';
}

.font-munson-italic {
  font-family: 'munsonitalic';
}

.font-munson-bolditalic {
  font-family: 'munsonbolditalic';
}

.dot-lg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.dot-md {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.dot-sm {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.dot-xs {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}